
  mat-toolbar{
    background: #004a9f;
    color: white;
}
.sidenav-container{
    height: calc(100vh - 150px);
}
.sidenav{
    margin: 8px;
    width: 200px;
    border-right: 10px;
    color: white;
    border-radius: 10px;
    text-align: left;
}
.content{
    height: calc(100vh - 190px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}