<form [formGroup]="stateForm">
  <mat-form-field>
    <mat-label>States Group</mat-label>
    <input type="text"
           matInput
           formControlName="stateGroup"
           required
           [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <div *ngFor="let group of stateGroupOptions | async; track group"> 
        
          <mat-optgroup [label]="group.id">
            <div *ngFor="let idTxt of group.idText; track idText"> 
        
              <mat-option [value]="idTxt">{{idTxt}}</mat-option>
            </div>
          </mat-optgroup>
         </div>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="click()">save</button>
</form>
