<form [formGroup]="dForm" (ngSubmit)="addOpdData()">
  <h1 mat-dialog-title>{{inputdata.title}}</h1>
  <div mat-dialog-content>

    <mat-form-field class="example-full-width">
      <mat-label>Request Claim Amount</mat-label>
      <input matInput formControlName="amount">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>The Name of the Claimer</mat-label>
      <mat-select formControlName="cType">
        <mat-option [value]="ctype" *ngFor="let ctype of claimTypes">{{ctype}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Date of accident/Onset</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Date of Incident" formControlName="incidentDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>yyyy-mm-dd</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Incident Place</mat-label>
      <input matInput formControlName="place">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nature of Description of illness/accident</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Incident Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="closePopup()">Save</button>
    <button mat-raised-button color="warn" (click)="closePopup()">Close</button>
    <!--<button mat-raised-button mat-dialog-close color="accent">Cancel</button>-->
  </div>
</form>