<div class="main-div" fxLayoutAlign="center center" fxFlexFill>
    <mat-card>
        <mat-toolbar color="primary">OUSL Insurance Claim Automation System</mat-toolbar>
        <form class="login-form" fxLayoutAlign="stretch" fxLayout="column" 
        [formGroup]="empNoForm" (ngSubmit)="isMember()">
            <mat-form-field class="example-full-width">
              <mat-label>Employee Number</mat-label>
              <input matInput placeholder="Search..." formControlName="empNo">
            </mat-form-field>
              <button mat-raised-button type="submit" color="primary">Search</button>
        </form>
    </mat-card>
</div>
