<div style="height: 85%; border: 1px solid #eee">
  <as-split [useTransition]="true" unit="percent" [gutterSize]="10" [direction]="'horizontal'">

      <as-split-area [size]="30" [order]="1" [visible]="true">
          <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-form-field appearance="outline">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Search names" #input>
                </mat-form-field>
              </mat-card-header>
      
              <mat-card-footer>
                  
              </mat-card-footer>
          </mat-card>
      </as-split-area>


      <as-split-area [size]="50" [order]="2" [visible]="true">
          <!--Main Body-->
      </as-split-area>

      <as-split-area [size]="30" [order]="2" [visible]="true">

      </as-split-area>
  </as-split>
</div>